.f-avatar {
    position: relative;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $ChromeHigh;
    color: $ChromeWhite;
    line-height: 36px;

    img {
        border-radius: 100%;
        display: block;
    }
    
    &.f-avatar--tile, &.f-avatar--tile img {
        border-radius: 0;
    }
}
