.f-checkbox {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
    .f-checkbox--selection {
        position: relative;
        display: inline-block;
        input {
            height: 20px;
            width: 20px;
            line-height: 20px;
            border: 2px solid #000000;
            background-color: #FFFFFF;
            box-sizing: border-box;
            font-size: 15px;
            font-weight: 500;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-appearance: none;
            opacity: 0;
            vertical-align: top;
            display: inline-block;
            &:focus {
                outline: none;
            }
            &+ span {
                border: 2px solid #000000;
                background-color: #FFFFFF;
                height: 20px;
                width: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                line-height: 16px;
                text-align: center;
            }
            &:checked {
                &+ span {
                    border-color: #0078D7;
                    background-color: #0078D7;
                    color: #fff;
                    &:before, &:after {
                        position: absolute;
                        z-index: 1;
                        content: "";
                        display: block;
                        background-color: #ffffff;
                    }
                    &:before {
                        height: 1.5px;
                        width: 7px;
                        transform: rotate(45deg);
                        top: 8px;
                        left: 0px;
                    }
                    &:after {
                        height: 1.5px;
                        width: 13px;
                        transform: rotate(315deg);
                        top: 7px;
                        left: 4px;
                    }
                }
            }
            &:indeterminate {
                &+ span {
                    border-color: #0078D7;
                    background-color: #0078D7;
                    color: #fff;
                    &:before, &:after {
                        position: absolute;
                        z-index: 1;
                        content: "";
                        display: block;
                        background-color: #ffffff;
                        height: 1.5px;
                        width: 14px;
                        top: 8px;
                        left: 1px;
                        transform: translate(0%, -50%);
                    }
                }
            }
            &:disabled {
                &+ span {
                    border-color: rgba(0,0,0,0.4);
                    background-color: #ffffff;
                    color: rgba(0,0,0,0.4);
                    &:before, &:after {
                        background-color: rgba(0,0,0,0.4);
                    }
                    &+ label {
                        color: rgba(0,0,0,0.4);
                    }
                }
            }
        }
        &+ label {
            color: #000000;
            display: inline-block;
            cursor: pointer;
        }
        &:disabled {
            &+ label {
                color: rgba(0,0,0,0.4);
            }
        }
    }
}