.f-list {
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;

    .f-list-item {
        position: relative;
        padding: 0;
        margin: 0;
        background-clip: padding-box;
        display: flex;
        line-height: 44px;
        align-items: center;

        .f-list-item-avatar {
            display: inline-flex;
            flex: 0 1;
            outline: 0;
            white-space: normal;
            padding: 5px;
            align-self: flex-start;
        }

        .f-list-item-content {
            display: inline-flex;
            flex: 1;
            outline: 0;
            white-space: normal;
            font-size: 15px;
            font-weight: 500;
            padding: 5px 10px;
            line-height: normal;
        }
    }

    a.f-list-item {
        cursor: pointer;
        background: $ListLow;

        &:hover {
            background: $ListMedium;
        }
    }
}