.f-menu {
    .f-menu-activator {
        display: inline-block;
    }

    [aria-expanded="false"]+ul {
        display: none;
    }

    .f-menu-content {
        text-align: left;
        box-shadow: $BaseMediumLow 0px 19px 43px, $BaseLow 0px 4px 11px;
        transform: translateY(0px);
        position: absolute;
        border-radius: 0 2px 2px 2px;
        z-index: 500;
        color: $BaseHigh;
        cursor: default;
        min-width: 64px;
        max-width: 368px;
        background: $ChromeMediumLow;
        width: 240px;
    }

    &.f-menu-top {
        .f-menu-content {
            bottom: 100%;
        }
    }
}