.f-progress-linear {
    display: block;
    width: 100%;
    margin: 14px 0;
    position: relative;

    .f-progress-linear--track {
        background-color: $BaseMediumLow;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        transition: 0.3s ease-in;
        overflow: hidden;
        
        span {
            display: inline-block;
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: $Accent;
            border-radius: 100%;
        }

        span {
            -webkit-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) infinite;
            -moz-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) infinite;
            -ms-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) infinite;
            -o-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) infinite;
            animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) infinite;
        }

        span:nth-child(2) {
            -webkit-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 100ms infinite;
            -moz-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 100ms infinite;
            -ms-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 100ms infinite;
            -o-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 100ms infinite;
            animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 100ms infinite;
        }

        span:nth-child(3) {
            -webkit-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 200ms infinite;
            -moz-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 200ms infinite;
            -ms-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 200ms infinite;
            -o-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 200ms infinite;
            animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 200ms infinite;
        }

        span:nth-child(4) {
            -webkit-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 300ms infinite;
            -moz-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 300ms infinite;
            -ms-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 300ms infinite;
            -o-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 300ms infinite;
            animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 300ms infinite;
        }

        span:nth-child(5) {
            -webkit-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 400ms infinite;
            -moz-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 400ms infinite;
            -ms-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 400ms infinite;
            -o-animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 400ms infinite;
            animation: move 2.5s cubic-bezier(0.2, 0.64, 0.81, 0.23) 400ms infinite;
        }
    }
    
    .f-progress-linear--progress {
        background-color: $Accent;
        width: 0;
        height: inherit;
        transition: 0.3s ease-in;
        position: relative;
    }

    &.f-progress-linear--indeterminate {
        .f-progress-linear--track {
            background-color: transparent;
        }
    }
}

@-webkit-keyframes move {
    0% {
        left: -4px;
        background-color: transparent;
    }

    25% {
        background-color: $Accent;
    }

    75% {
        background-color: $Accent;
    }

    100% {
        left: calc(100% + 4px);
        background-color: transparent;
    }
}
@-moz-keyframes move {
    0% {
        left: -4px;
        background-color: transparent;
    }

    25% {
        background-color: $Accent;
    }

    75% {
        background-color: $Accent;
    }

    100% {
        left: calc(100% + 4px);
        background-color: transparent;
    }
}
@-ms-keyframes move {
    0% {
        left: -4px;
        background-color: transparent;
    }

    25% {
        background-color: $Accent;
    }

    75% {
        background-color: $Accent;
    }

    100% {
        left: calc(100% + 4px);
        background-color: transparent;
    }
}
@-o-keyframes move {
    0% {
        left: -4px;
        background-color: transparent;
    }

    25% {
        background-color: $Accent;
    }

    75% {
        background-color: $Accent;
    }

    100% {
        left: calc(100% + 4px);
        background-color: transparent;
    }
}
@keyframes move {
    0% {
        left: -4px;
        background-color: transparent;
    }

    25% {
        background-color: $Accent;
    }

    75% {
        background-color: $Accent;
    }

    100% {
        left: 100%;
        background-color: transparent;
    }
}