.f-radio {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
    margin-right: 10px;
    line-height: normal;
    vertical-align: top;
    .f-radio--selection {
        position: relative;
        display: table-cell;
        vertical-align: top;
        input {
            height: 20px;
            width: 20px;
            line-height: 20px;
            box-sizing: border-box;
            font-size: 15px;
            font-weight: 500;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-appearance: none;
            opacity: 0;
            vertical-align: top;
            display: inline-block;
            &:focus {
                outline: none;
            }
            &+ span {
                border: 2px solid #000000;
                background-color: transparent;
                height: 20px;
                width: 20px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                cursor: pointer;
                line-height: 16px;
                text-align: center;
                border-radius: 100%
            }
            &:checked {
                &+ span {
                    border-color: #0078D7;
                    background-color: transparent;
                    color: #fff;
                    &:after {
                        position: absolute;
                        z-index: 1;
                        content: "";
                        display: block;
                        background-color: #000000;
                        width: 10px;
                        height: 10px;
                        top: 3px;
                        left: 3px;
                        border-radius: 100%
                    }
                }
            }
            &:disabled {
                &+ span {
                    border-color: rgba(0,0,0,0.4);
                    background-color: #ffffff;
                    color: rgba(0,0,0,0.4);
                    &:before, &:after {
                        background-color: rgba(0,0,0,0.4);
                    }
                    &+ label {
                        color: rgba(0,0,0,0.4);
                    }
                }
            }
        }
        &+ label {
            color: #000000;
            display: table-cell;
            cursor: pointer;
            vertical-align: top;
            line-height: 18px;
            padding-left: 8px;
        }
    }
    &.f-radio--disabled {
        .f-radio--selection {
            &+ label {
                color: rgba(0,0,0,0.4);
            }
        }
    }
}