.f-select {
    display: inline-block;

    span {
        display: block;
        margin-bottom: 10px;
    }

    select {
        height: 36px;
        line-height: 28px;
        border: 2px solid $BaseMediumLow;
        min-width: 296px;
        padding: 8px 11px;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: 500;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        
        &:focus {
            outline: none;
            border-color: $Accent;
        }
    }
}