.hide-focus {
    outline-color: transparent !important;
}

.d-grid {
    display: grid;
}
.d-inline-grid {
    display: inline-grid;
}
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}