* {
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size: 15px;
    font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 320px;
    margin: 0;
    color: #000;
    background-color: #FFF;
}
button, input, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}